@page "/doom-scroll"
@rendermode InteractiveServer

@using Danbooru.ApiWrapper.Enums
@using Danbooru.ApiWrapper.Interfaces
@using Danbooru.ApiWrapper.Models
@using Sve.Blazor.InfiniteScroll.Components


<section class="search-options-container">
    <div class="rating-container">
        <div class="option @(_contentRating == ContentRating.General ? "active" : String.Empty)" 
            @onclick="() => HandleOnRadioButtonClick(ContentRating.General)">
            <p>General</p>
        </div>

        <div class="option @(_contentRating == ContentRating.Sensitive ? "active" : String.Empty)" 
            @onclick="() => HandleOnRadioButtonClick(ContentRating.Sensitive)">
            <p>Sensitive</p>
        </div>

        <div class="option @(_contentRating == ContentRating.Questionable ? "active" : String.Empty)" 
            @onclick="() => HandleOnRadioButtonClick(ContentRating.Questionable)">
            <p>Questionable</p>
        </div>

        <div class="option @(_contentRating == ContentRating.Explicit ? "active" : String.Empty)" 
            @onclick="() => HandleOnRadioButtonClick(ContentRating.Explicit)">
            <p>Explicit</p>
        </div>
    </div>

    <div class="input-section">

        <input autocomplete="off" spellcheck="false" type="text" @bind-value="_searchQuery" name="search-after-tag" list="tags" @oninput="OnSearchInputChanged" />

        <div class="auto-complete-suggestions">
            @if (_tags is not null)
            {
                foreach (var tag in _tags)
                {
                    <div class="auto-complete-option" @onclick="() => HandleTagSelected(tag)">
                        <p>@tag.Value</p>
                    </div>
                }
            }
        </div>

    </div>

    <div class="selected-tags-container">
        @foreach (var tag in _selectedTags)
        {
            <div class="selected-tag">
                <div>
                    <p>@tag.Label (@tag.PostCount)</p>
                </div>
                <div @onclick="() => RemoveSelectedTag(tag)">
                    <p>✖</p>
                </div>
            </div>
        }
    </div>

    <div class="button-container">
        <button type="button" @onclick="HandleSearchButtonClicked">Search</button>
    </div>
</section>

<section class="search-results-container">
    <div class="results">
        <InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => FetchImages()">
            
            @foreach (Post post in _posts)
            {
                <MediaComponent MediaPost="post" />
            }

            @* The target element that we observe. Once this is reached the callback will be triggered. *@
            <li class="list-group-item" id="observerTarget"></li>
        </InfiniteScroll>

        @if(_shouldDisplayTagContainer)
        {
            <TagContainerComponent />
        }
    </div>
</section>